.order-component {
  display: flex;
  padding: 20px;
}

.order-summary {
  width: 400px;
  padding: 10px;
  border-right: 1px solid #ccc;
}

.order-summary ul {
  list-style-type: none;
  padding: 0;
}

.order-summary li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px; /* Add margin to improve spacing between rows */
}

.order-summary .item-name {
  flex-grow: 1;
}

.order-summary .item-quantity {
  margin: 0 10px; /* Add margin to separate quantity from buttons */
}

.order-summary .item-controls {
  display: flex;
  gap: 5px; /* Add space between buttons */
}

.order-content {
  width: 80%;
  padding-left: 20px;
}

.tabs {
  display: flex;
  flex-wrap: wrap; /* Allow tabs to wrap into multiple rows */
  margin-bottom: 20px;
}

.tab {
  padding: 10px;
  cursor: pointer;
  border: 1px solid #ccc;
  margin: 5px; /* Add margin to separate tabs */
  user-select: none; /* Disable text selection */
}

.tab.active {
  background-color: #007bff;
  border: 1px solid #ccc;
  color: white;
  margin: 5px;
}

.items {
  display: flex;
  flex-wrap: wrap;
}

.item {
  padding: 10px;
  border: 1px solid #ccc;
  margin: 5px;
  cursor: pointer;
  user-select: none; /* Disable text selection */
}

.send-button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #28a745;
  color: white;
  border: none;
  cursor: pointer;
}

.trash-icon {
  cursor: pointer;
  color: red;
  align-self: center; /* Align the trash icon vertically with the buttons */
}

.quantity-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 5px 10px;
  margin: 0 5px;
  cursor: pointer;
  border-radius: 3px;
}

.quantity-button:hover {
  background-color: #0056b3;
}