.order-tickets-wrapper {
  overflow-y: auto; /* Enable vertical scrolling */
  height: 90vh;
}

.order-tickets-container {
  display: flex; /* Change to flex for vertical layout */
  flex-direction: column; /* Stack tickets vertically */
  align-items: flex-start; /* Align tickets at the start */
  gap: 5px; /* Add space between tickets */
}

.order-ticket {
  display: inline-block;
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 200px;
  background-color: rgba(255, 255, 255, 0.4); /* Semi-transparent white background */
}

.order-ticket.take-out {
  background-color: rgba(173, 216, 230, 0.4); /* Light blue background for take-out orders */
}

.order-ticket ul {
  list-style-type: none; /* Remove list item markers */
  padding: 0;
}

.order-ticket li {
  display: flex;
  justify-content: space-between; /* Align content to the sides */
  align-items: center;
  margin-bottom: 10px;
  padding: 0 5px;
  height: 40px;
  position: relative; /* Add position relative for progress bar */
  background-color: rgba(255, 0, 0, 0.3); /* Transparent red background */
  user-select: none; /* Disable text selection */
}

.button {
  margin-left: 10px;
  padding: 5px 10px;
  background-color: red;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.button.discard {
  background-color: #4CAF50;
  color: #fff;
  padding: 12px 20px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  display: block;
  margin: 10px auto 0;
  cursor: pointer;
}