.route-title-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.route-title-container h1 {
  color: #341b06;
}

.center-button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.center-button {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.center-button button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 0 10px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.center-button button:hover {
  background-color: #0056b3;
}

.center-button button:active {
  background-color: #004494;
}

.center-button button:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}
